<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forma</title>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>

<body>
    <div class="login-box">
        <h2>Login</h2>
        <form action="/api/v1/login" method="post">
            <div class="user-box">
                <input type="text" name="username" id="text" required>
                <label>Username</label>
                <span id="user_err"></span>
            </div>
            <div class="user-box">
                <input type="password" name="password" id="password" required>
                <label>Password</label>
                <span id="pass_err"></span>
            </div>
            <button type="submit" id="btn">Submit</button>
        </form>
    </div>
    <script src="/public/js/login.js"></script>
</body>

</html>